# 🔒 Sensitive Keys
googleServiceAccount.json
serviceAccountKey.json
.env
.env.*


# 🛠 Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log

# ⚙️ Build
dist/
build/
.next/
out/

# 📦 React
*.log
*.cache
*.DS_Store

# 🚫 Vercel / Firebase / Local
.vercel/
firebase-debug.log
firebase.json
.vscode/
.idea/

# 📂 Temp
*.tmp
*.temp
*.bak

# 🧪 Coverage
coverage/

# 🧰 Others
*.local
*.test.js
.DS_Store
*.swp
*.swo
